.edit-central {
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.edit-title, .edit-author, .edit-content, .edit-tags, .edit-date {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.edit-top {
    margin-bottom: 10px;
}

.edit-central-table {
    width: 100%;
}

.edit-top-left-col {
    text-align: left;
    font-family: Helvetica;
    font-size: 25px;
}

.edit-top-right-col {
    text-align: right;
    font-family: Helvetica;
    font-size: 25px;
}

.edit-form, .edit-form-summary, .edit-form-content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    border: solid black 1px;
    margin-bottom: 7px;
    font-family: "Times New Roman";
    font-size: 20px;
    resize: none;
}

.edit-form-summary {
    padding-bottom: 0;
    margin-bottom: 0px;
}

.edit-author {
    font-size: 22px;
    font-style: italic;
    color: #A89494;
}

.edit-tags-table {
    width: 100%;
    border-spacing: 0;
}

.edit-tags-td {
    padding: 0 0 0 0;
}

.edit-tags {
    border-spacing: 0;
    margin: 0 0 0 0;
}

.edit-tag-element {
    border: 1px solid black;
}

.edit-tag {
    font-size: 20px;
}

.edit-tags-add {
    padding: 0 0 0 0;
}

.edit-tag-input-container {
    height: 100%;
}

.edit-tag-input {
    font-size: 16px;
    font-family: 'Time Roman';
}

.tag-text {
    cursor: default;
    font-family: serif;
}

.tag-text::selection {
    background: transparent;
}

.tag-remove {
    cursor: pointer;
}

.tag-remove::selection {
    background: transparent;
}

.edit-bot {
    margin-bottom: 10px;
}

.edit-bot-left-col {
    text-align: left;
    font-size: 18px;
}

.edit-bot-right-col {
    background-color: white;
    cursor: default;
    border: solid black 1px;
    border-radius: 6px;
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
}

.edit-bot-right-col:hover {
    background-color: #ECCFCF;
}

.edit-date {

}

