.background {
    background-color: #dcdcdc;
    background-image: url(sakura.jpg);
}

.ground {
    background-color: white;
    min-width: 1000px;
    margin-left: 15%;
    margin-right: 15%;
}

.header-table {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.header-pointer {
    margin-left: 40px;
    cursor: pointer;
    font-size: 44px;
}

.header-pointer::selection {
    background: transparent;
}

.header {
    color: #AD1F1F;
}

.header::selection {
    background: transparent;
}

table.top-menu {
    border-spacing: 5px;
    margin-top: 10px;
    margin-right: 80px;
}

td.left-col {
    text-align: left;

}

td.right-col {

}

.menu-item {
    background-color: white;
    cursor: default;
    border-radius: 8px;
    border: 1px solid black;
}

.menu-item:hover {
    background-color: #ECCFCF;
}

.menu-item::selection {
    background: transparent;
}

.left-panel {
    width: 9%;
}

.right-panel {
    vertical-align: top;
    width: 16%;
}

table.central {
    width: 100%;
    min-height: 500px;
    border-spacing: 14px;
}

table.news-table {
    min-height: 500px;
    border-spacing: 14px;
}

.footer {
    border-spacing: 14px;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
}

.footer-text {
    color: lightslategray;
    font-style: italic;
}

td.news-cell-td {
    width: 33%;
    vertical-align: baseline;
}

.news-cell {
    cursor: default;
    color: white;
    background-color: #5f9ea0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    width: 100%;
}

.news-cell:hover {
    background-color: #5B2929
}

.news-title {
    font-size: 20px;
}

.author {
    font-style: italic;
    color: lightgrey;
}

.news-text {
    font-size: 12px;
    font-family: sans-serif;
}

.tag {
    font-style: italic;
}

.news-date-edit {
    width: 100%;
}

.news-cell-button {
    font-size: 24px;
    text-align: right;
}

.news-cell-button:hover {
    color: #5B2929;
}

.news-cell-button::selection {
    background: transparent;
}


ul.filter-list {
    list-style-type: none;
    padding-left: 0;
}

li.filter-element {
    margin-bottom: 30px;
}

.filter {
    border-radius: 4px;
    width: 130px;

}

.filter:hover {
    font-weight: bold;
}

.pagination {
    text-align: right;
    font-size: 20px;
}

.pagination-elem {
    cursor: pointer;
}

.pagination-elem-chosen {
    cursor: default;
    font-weight: bold;
}

